.App {
  text-align: center;
}

.flex-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
}

.space-container {
  max-width: 200px;
  margin: 10px;
}

.level-container {
  display: grid;
  justify-content: flex-start;
  align-items: flex-start;
  grid-template-columns: 1fr 6fr;
  padding: 10px;
  grid-gap: 10px;
}

.level-form {
  border: 1px solid blue;
  padding: 5px
  
}

.level-form p {
  font-size: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
